{% extends "base.html" %}
{% block content %}
<h2>Regisztráció</h2>
<div class="formdiv">
    <form method="post">
        <li><input name="first_name" placeholder="Keresztnév" type="text"><input name="last_name" placeholder="Vezetéknév" type="text"></li>
        <li><input name="username" placeholder="Felhasználónév" type="text"></li>
        <li><input name="email" placeholder="Email cím" type="email"></li>
        <li><input name="password" type="password" placeholder="Jelszó"></li>
        <li><button name="register">Regisztráció</button></li>
    </form>
</div>
<style>
    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .formdiv {
        background-color: darkblue;
        width: fit-content;
        justify-self: right;
        align-content: center;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    li {
        list-style-type: none;
    }
    button {
        font-size: 20px;
        margin: 10px;
        position: relative;
    }
    input {
        font-size: 20px;
        margin: 10px;
    }
</style>
{% endblock %}